<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>YouTube Video Downloader</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>
<body>
    <nav>
        <div class="nav-container">
            <img src="{{ url_for('static', filename='logo.gif') }}" alt="Logo" class="logo">
            <ul class="nav-links" id="navLinks">
                <li><a href="#"><i class="fas fa-home"></i> Home</a></li>
                <li><a href="#"><i class="fas fa-info-circle"></i> About</a></li>
                <li><a href="#"><i class="fas fa-envelope"></i> Contact</a></li>
            </ul>
            <div class="burger-menu" id="burgerMenu" onclick="toggleMenu()">
                <div class="line"></div>
                <div class="line"></div>
                <div class="line"></div>
            </div>
        </div>
    </nav>

    <div class="container">
        <h1>YouTube Video Downloader</h1>
        <form id="downloadForm" action="{{ url_for('download') }}" method="post">
            <label for="url">Enter YouTube URL:</label><br>
            <input type="text" id="url" name="url" required><br><br>
            <button type="submit" id="downloadBtn"><i class="fas fa-download"></i> Download</button>
        </form>
        <div id="loadingMessage" style="display: none;">Downloading...</div>
    </div>

    <footer>
        <p>&copy; 2024 YouTube Video Downloader. All rights reserved.</p>
    </footer>

    <script>
        function toggleMenu() {
            const navLinks = document.getElementById('navLinks');
            navLinks.classList.toggle('active');
        }
    </script>
</body>
</html>
